<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620346958331-354qhprpfeo30e17bpga5kgm9ro3g6mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620346958331-354qhprpfeo30e17bpga5kgm9ro3g6mu</string>
	<key>API_KEY</key>
	<string>AIzaSyBTlxvPp9MZ_9GgBS2ZHsO0pIy0jYjoQRs</string>
	<key>GCM_SENDER_ID</key>
	<string>620346958331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.todo.todoApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-e37dc</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-e37dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620346958331:ios:a7abde23b425bff4616b5e</string>
</dict>
</plist>